<!DOCTYPE html>
<html lang="en">
  <head>
    <title>nightSpot</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/public/other/favicon.ico">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- additional css -->
    {{#if css}}
    <link rel="stylesheet" href={{css}}>
    {{/if}}
  </head>
  <body>
      {{#if user}}
      <!-- store user ID here, client js find this to know if user's logged in -->
      <div id="user" class="hidden">{{user.userID}}</div>
      <div id="lastSearchedLocation" class="hidden">{{user.lastSearchedLocation}}</div>
      {{/if}}
      {{#if cookieLocation}}
      <!-- store location saved in cookie here, client js load this location if #lastSearchedLocation fails  -->
      <div id="cookieLocation" class="hidden">{{cookieLocation}}</div>
      {{/if}}

      <!-- body goes here -->
      <div class="container">
          {{{body}}}
      </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/public/js/jquery-3.2.1.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
  </body>
</html>
